/* hide note when no javascript */
.js #block-transporter-links .transporter-toggle {
  display: none;
}

.js #block-transporter-links .transporter-toggle {
  position: absolute;
  z-index: 100;
}

.js #block-transporter-links {
  position: relative;
  text-align: left;
}

.js #block-transporter-links .transporter-links {
  background-color: #fff;
}

.js #block-transporter-links li {
  display: block;
}

.js ul.transporter-current,
.js ul.transporter-links {
  list-style: none;
  font-size: 14px;
  padding-left: 0;
  border: 1px solid #bdbdbf;
  width: 168px;
  color: #636363;
}

.js ul.transporter-current {
  background: #fff url('../images/select-arrow.png') no-repeat 162px center;
  padding: 3px 5px 3px 5px;
}

.js ul.transporter-current li {
  height: 16px;
}

.js ul.transporter-links {
  padding: 3px 5px 3px 5px;
  /* position: relative;
  top: -2px; */
}

.js ul.transporter-current li,
.js ul.transporter-links li {
  padding-left: 26px;
}

.js ul.transporter-links li {
  margin-bottom: 3px;
}

.js ul.transporter-links li.last {
  margin-bottom: 0;
}

.js ul.transporter-links li a {
  text-decoration: none;
  color: #636363;
  display: block;
}

.js ul.transporter-links li a:hover {
  text-decoration: underline;
}

.js #block-transporter-links .transporter-note {
  width: 168px;
  margin-top: 1px;
  padding: 5px;
  background-color: #aaa;
  color: #fff;
  font-size: 75%;
  border: 1px solid #fff;
}